@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .ad-1 {
        background-image: url('../images/banners/1.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .ad-1-1 {
        background-color: rgba(194, 194, 194, 0.2);
    }
    .ad-2 {
        background-image: url('../images/banners/2.png');
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ad-3 {
        background-image: url('../images/banners/3.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .index-bg {
        background-image: url('../images/others/index.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .index-bg-color{
        background-color: rgba(0, 0, 0, 0.8)
    }
}